@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    padding: 30px;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #754949;
}

.image{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #571f1f;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profile-card .text-data{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

.text-data .name{
  font-size: 22px;
  font-weight: 500;
}

.text-data .job{
  font-size: 16px;
  font-weight: 400;
}

.profile-card .media-icons{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
}

.media-icons .link{
    height: 40px;
    width: 40px;
    background-color: #6d5c5c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0 8px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.buttons .follow-btn{
    background-color: #7a6b5c;
    color: #ffffff;
}

.buttons .message-btn{
    background-color: #7a6b5c;
    color: #ffffff;
}

.buttons .btn:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .data{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 2px solid #cccccc;
}

.data i{
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}

